.carousel-inner{
  background-color: #022a40;
}
.carousel-item {
  height: auto;
  display: flex;
  align-items: center;
}
.carousel-item img {
  max-height: 100%;
  width: 100%;
  object-fit: contain;
}
.carousel-caption {
  width: auto;
}


.testimonial6 .testi6 {
  border-right: 1px solid #022a40;
}

.testimonial6 .testi6 .nav-link {
  border-radius: 0px;
  margin: 8px -2px 8px 0;
}

.testimonial6 .testi6 .nav-link img {
  width: 70px;
  opacity: 0.5;
}

.testimonial6 .testi6 .nav-link.active {
  background: transparent;
  color: #f34343;
  border-right: 3px solid #f34343;
}

.testimonial6 .testi6 .nav-link.active img {
  opacity: 1;
}

.testimonial6 .btn-danger {
    background: #ff4d7e !important;
    border: 1px solid #ff4d7e !important;
}

.testimonial6 .btn-md {
    padding: 18px 0px;
    width: 60px;
    height: 60px;
    font-size: 20px;
}

@media (max-width: 767px) {
    .testimonial6 .testi6 .nav-link {
    margin: 0px 0px -2px 0;
    padding: 10px;
    }
    .testimonial6 .testi6 {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    border-right: 0px solid rgba(120, 130, 140, 0.13);
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    margin-bottom: 40px;
    }
    .testimonial6 .testi6 .nav-link img {
    width: 40px;
    }
    .testimonial6 .testi6 .nav-link.active {
            border-right: 0px solid #2cdd9b;
            border-bottom: 3px solid #2cdd9b;
    }
}


